.Container {
    padding: 3%;
    font-family: "poppins-regular";
}
.ContainerMenu {
    display: flex;
    justify-content: space-between;
}
/*Botones*/
.botonMenu {
    width: 120px;
    height: 35px;
    border-radius: 13px;
    margin: 0.5%;
    border: none;
    margin: 8px;
}
.botonMenu:hover {
    background-color: #e68e5f;
    opacity: 3px;
}
.Menu {
    display: flex;
    height: 5%;
    z-index: 2;
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.botonLogin{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.botonLogin:hover{
    background-color: #3e4042;
    opacity: 3px;
}
.logoPequeño{
    display: none;
}
@media screen and (min-width:100px) and (max-width:880px){
    .logoPequeño{
        display: block;
    }
    .logoGrande{
        display: none;
    }
    .pulso{
        display: none;
    }
    .Menu{
        justify-content: center;
        width: 30%;
    }
    .botonMenu{
        font-size: 12px;
    }
}
@media screen and (min-width:650px) and (max-width:1200px){
    .pulso img{
        width: 90%;
    }
    .pulso{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .Menu {
        margin-top: 14px;
    }
}
@media screen and (min-width:610px) and (max-width:680px){
    .Menu{
        display: flex;
        justify-content: space-around;
        position:initial;
        margin: 0;
    }
    .pulso{
        display: none;
    }
}
@media screen and (min-width:100px) and (max-width:600px){
    .Menu{
        display: none;
    }
    .pulso{
        display: none;
    }
}