.CrudCompleto{
    overflow-x: hidden;
}
/* TABLA GENERAL */
.tablaResultados{
    margin-top: 2%;
    width: 98%;
    border: 1.5px solid #5B5B5B;
    font-size: 15px;
    border-radius: 5px;
}
.acomodaTabla{ /* ACOMODA LA TABLA */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ARREGLA TODAS LAS FILAS Y COLUMNAS */
.organizacionTextoTabla{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.tamañoPequeño{
    width: 6%;
}
.tamañoMediano{
    width: 9%;
}
.tamañoGrande{
    width: 15%;
}
.fila{
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
}
th, td {
    font-family: 'poppins-regular';
    font-size: 13px;
    text-align: center;
    align-items: center;
    vertical-align: top;
    border: 0px solid #5B5B5B;
 }
 .encabezadoTabla{ /* Encabezado de la tabla */
    font-family: 'poppins-semibold';
    font-size: 13px;
    padding-top: 20%;
 }
/* Boton opciones: Editar y Eliminar */
 .botonesOpciones{
    display: flex;
    width: 90%;
    margin: 5%;
    justify-content: space-between;
    align-content: center;
 }
 .botonEliminar{
    margin: 2%;
    font-family: 'poppins-semibold';
    font-size: 20px;
    width: 40%;
    border: 1px solid #F45656;
    border-radius: 5px;
    color: #ECECEC;
    background-color: #C92525;
 }
 .botonEliminar:hover{
    background-color: #F45656;
}
 .botonEditar{
    width: 40%;
    margin: 2%;
    padding: 5%;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #FFE665;
    border-radius: 5px;
    background-color: #E8CE47;
 }
 .botonEditar:hover{
    background-color: #FFE665;
 }
 .listaResponsive{
    display: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    font-size: 14px;
 }
 .tarjetaUsuarios{
    border: 1px solid #5B5B5B;
    border-radius: 20px;
    margin: 7%;
    padding: 5%;
 }
 /* Para cambiar la flecha de la lista
 summary::-webkit-details-marker {
    display: none
  }
  summary:before {
    content: ">";
  }
  details[open] > summary:before {
    content: "v";
  } */
 @media screen and (min-width:100px) and (max-width:1260px){
    th, td {
        font-size: 12px;
     }
    .botonEditar{
        width: 40%;
        margin: 1%;
        padding: 0%;
     }
    .botonEliminar{
        margin: 1%;
        padding: 0;
        font-size: 15px;
        width: 40%;
     }
}
@media screen and (min-width:100px) and (max-width:878px){
    .listaResponsive{
        display: grid;
    }
    table{
        display: none;
    }
}
@media screen and (min-width:100px) and (max-width:420px){
    .listaResponsive{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 80px;
        font-size: 13px;
    }
}