.tablaResultados{
    width: 98%;
    border: 1px solid #5B5B5B;
    font-size: 15px;
}
.acomodaTabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chikito{
    font-size: 13px;
    width: 14%;
}
.chikito2{
    width: 5%;
}
.pequeño{
    width: 8%;
}
 th, td {
    text-align: center;
    vertical-align: top;
    border: 0px solid #5B5B5B;
    width: 10%;
    padding-left: 2%;
    padding-right: 2%;
 }
 .encabezadoTabla{
    padding-top: 20%;
 }
 .botonEliminar{
     background-color: #C92525;
 }
 .botonEliminar:hover{
    background-color: #F45656;
}
 .botonEditar{
     background-color: #E8CE47;
 }
 .botonEditar:hover{
     background-color: #FFE665;
 }